.header__logo {
  max-width: 142px;
  object-fit: cover;
}

@media screen and (max-width: calc(880px + 19px * 2)) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 104px;
  }
}
