.header {
  width: calc(100% - 19px * 2);
  margin: 0 auto;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 07);
}

@media screen and (max-width: calc(880px + 19px * 2)) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 32px 0;
  }
}
